<!--  Google Font Oswald -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
<!-- End Google Font Oswald -->
<header>
    <div style="background-color: #f8f9fa; color: black; min-height: 150px; font-family: 'Oswald', sans-serif !important;font-style: italic;">
       
        <div style="width: 100%;">
            <nav>
                <div style="width: 100%;">
                    <a class="navbar-brand" href="{ruta}"><img src="{ruta}img/logo.png" alt="Logo{appnombre}" border="0" class="" style="max-height: 150px;max-width: 330px;margin: auto;display: block;" /></a>
                    
                </div>
            </nav>
        </div>
    </div>
</header>
<body>
    <div style="max-width: 800px; margin: auto; margin-top: 15px; margin-bottom: 15px;font-family: 'Oswald', sans-serif !important;font-style: italic;font-size: 25px;">
       
       {contenido}
        
    </div>
</body>
<footer>
    <div style="background-color: #29abe2; height: 150px;font-family: 'Oswald', sans-serif !important;font-style: italic;">
          <h2 style="color: white; padding-left: 20%; padding-top: 1%; font-size: 35px;">{appnombre} - {ruta}</h2>
    </div>
</footer>